.tr1{background-color: rgb(43, 198, 226);}
.tr2{
    background-color: rgb(43, 198, 226);} 
.td1{
    background-color: rgb(43, 198, 226);}
.td2{
    background-color: rgb(43, 198, 226);}
.td3{
    background-color: rgb(43, 198, 226);}
.p1{
    text-align: center;
}
